@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-family: "Roboto Condensed", sans-serif; */
}
#header {
  display: flex;
}
.cover_image {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
}
.flexerer {
  display: flex;
  justify-content: space-between;
}
.cart_add {
  background-color: rgb(255, 166, 0);
  padding: 1rem;
  border: none;
  width: 130px;
  border-radius: 1rem;
}
#details {
  max-width: 1300px;

  min-height: 20rem;

  margin: 5rem auto;
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr);
}
.title {
  font-size: 2rem;
  font-weight: bolder;
  padding-left: 3rem;
  /* text-align: center; */
}
.description_text {
  font-size: 1.2rem;
  padding: 3rem 2rem;
  text-align: justify;
}
.slider_img {
  background-position: center;
  background-size: contain;
  height: 30rem;
  width: 100%;

  background-repeat: no-repeat;
}
.arrow-left,
.arrow-right {
  background-color: #d8d6d6;
  /* position: relative; */
  top: 45%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}
.flex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  color: rgb(0, 102, 255);
  font-weight: bold;
  /* text-align: center; */
  padding-left: 3rem;
  font-size: 2rem;
}
.list {
  margin: 2rem 3.5rem;
  color: grey;
}
.description_image {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
#apple {
  width: 100%;
}
.con {
  width: 100%;
  height: 100vh;

  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}
.spacer {
  height: 4rem;
}
.btn_con {
  display: flex;
  justify-content: center;
}
.buy {
  background-color: rgb(0, 140, 255);
  border: none;

  height: 50px;
  width: 130px;
  padding: 1rem 0;
  text-align: center;

  border-radius: 1rem;
  color: white;
  font-size: 0.8rem;
}
.quantity-input {
  width: 100px;
  height: 40px;
  padding: 0.1rem 1rem;
  /* margin: 0 2rem; */
  border-radius: 1rem;
  border: 0.2rem solid rgb(0, 140, 255);
  font-size: 1.5rem;
}
.tab {
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
}
.one,
.two,
.three {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.tab_content_slides {
  display: none;
}
#accessories {
  min-height: 100vh;
}
.hide {
  display: none;
}
.line {
  background-color: rgb(0, 119, 255);
  width: 15rem;
  animation: fadeEffect 1s;
  height: 0.4rem;
}

@media (max-width: 800px) {
  .cover_image {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .flexerer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .buy {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .price {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-left: 0;
  }
  .title {
    font-size: 1.5rem;

    text-align: center;
    padding-left: 0;
  }
}
